.hero {
  position: relative;
  height: 320px;
  width: 100%;
  margin-bottom: 50px;
  background: url(../assets/images/accommodation-hero.png) center/cover no-repeat;

  &__claim{
    position: absolute;
    display: block;
    width: 100%;
    padding: 0 15px;
    top: 35%;
    text-align: center;
    z-index: 1;

    &__heading {
      font-family: IntervalNextSemiBold,sans-serif;
      font-size: 2.5rem;
      color: #FFF;
      margin-bottom: 30px;
      text-align: center;
      line-height: 3rem;
      text-shadow: 0 1px 1px #363636;
    }

    &__subheading {
      font-size: 2rem;
      line-height: 36px;
      color: #FFF;
      font-family: IntervalNextBook,sans-serif;
      text-shadow: 0 1px 1px #363636;
    }
  }
}

.uniplaces-full-container {
  background-color: #FFF;
  width: 100%;
}

.uniplaces-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.full-border-bottom {
  border-bottom: 1px solid #b2b9c2;
}

.accommodation-countries {
  position: relative;
  color: #888;
  margin-bottom: 100px;
  font-family: IntervalNextBookit,sans-serif;
}

.country {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 37px;
    color: #005A7E;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: normal;

    span {
      font-family: IntervalNextBookit,sans-serif;
      font-style: italic
    }
  }

  &__intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &__image {
      height: 320px;
      width: 48%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 48%;
      font-size: 0.85em;

      &__attributes{ 
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &__left-block {
          display: flex;

          p {
            margin-bottom: 0;
          }

          span {
            color: #A7A7AB;
            font-size: .8rem;
          }

          &__key {
            margin-right: 30px;
            color: #A7A7AB;
          }

          &__value {
            color: #667485;
          }
        }

        &__right-block {
          height: 20px;
          width: 30px;
        }
      }

      &__description{
        color: #575757;
        line-height: 21px;
      }
    }
  }

  &__cities-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    
    li {
      list-style-type: none;
      height: 270px;
      width: 32%;
      position: relative;
      
      &:nth-of-type(3n+2) {
        margin: 0 2% 2% 2%;
      }

      a {
        font-family: IntervalNextReg,sans-serif;
        color: #00ADEF;
        font-size: 1rem;
        cursor: pointer;

        img:hover {
          filter: blur(2px);
        }
      }
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 58px;
      position: absolute;
      background: #FFF;
      border-radius: 2px;
      white-space: nowrap;
      padding: 0 50px;
      height: 58px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
