.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 42px;
  border-bottom: 1px solid #d1d5da;
  align-items: center;

  a {
    display: inline-flex;
  }

  svg {
    height: 33px;
    width: 140px;
  }
}
