.full-border-bottom {
  border-bottom: 1px solid #b2b9c2;
}

.country {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 37px;
    color: #005A7E;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: normal;

    span {
      font-family: IntervalNextBookit,sans-serif;
      font-style: italic
    }
  }
}